@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    --primary-font: 'poppins', sans-serif;
    --secondary-font: 'inter', sans-serif;

    --background-color: #e2e7f0;
    --primary-900: #1a202c;
    --primary-800: #2d3648;
    --primary-700: #4a5468;
    --primary-600: #717d96;
    --primary-500: #a0abc0;
    --primary-400: #cbd2e0;
    --primary-300: #e2e7f0;
    --primary-200: #edf0f7;
    --primary-100: #f7f9fc;
    --yellow-600: #ffd43a;
    --yellow-300: #ffedad;
    --orange-600: #fe9d35;
    --orange-300: #fed7ad;
    --green-600: #2edb4b;
    --green-300: #d1ffd9;
    --blue-600: #34aff7;
    --blue-300: #b0dcff;
    --purple-600: #f134f7;
    --purple-300: #f6d1ff;
    --red-600: #ff5252;
    --red-300: #ffb8b8;
    --box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, #cbd2e0 -6px -2px 16px 0px;
    --box-shadow-popover: box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
    background-color: #e2e7f0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
}

a,
button {
    color: #717d96;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

#logo {
    height: 60px;
    width: 60px;
}

.nav_icons {
    position: relative;
    height: 13px;
    width: 13px;
    right: 5px;
    filter: invert(78%) sepia(15%) saturate(227%) hue-rotate(182deg) brightness(94%) contrast(82%);
}

.endpoints {
    position: relative;
    color: #717d96;
}

li {
    display: inline-block;
    margin-left: 25px;
}

.step_icons {
    position: relative;
    height: 13px;
    width: 13px;
    right: 5px;
    filter: invert(78%) sepia(15%) saturate(227%) hue-rotate(182deg) brightness(94%) contrast(82%);
}

li:hover .nav_icons {
    filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(2deg) brightness(92%) contrast(108%);
}

li:hover .endpoints {
    color: #2d3648;
}

.endpoints::before {
    content: '';
    position: absolute;
    top: 150%;
    left: -23px;
    width: 0%;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: 0.3s;
}

.endpoints:hover::before {
    width: 120%;
}

#kosttilskud:hover::before {
    width: 130%;
}

#log_in_button {
    background-color: white;
    border-radius: 8px;
    color: #2d3648;
    border-color: #2d3648;
    border-style: solid;
    height: 40px;
    width: 90px;
}

#log_in_button:hover {
    background-color: rgb(230, 232, 236);
    cursor: pointer;
}

#sign_in_button {
    position: relative;
    left: 10px;
    background-color: #2d3648;
    border-radius: 8px;
    border-color: #2d3648;
    border-style: solid;
    color: white;
    width: 10rem;
    height: 40px;
}

#sign_in_button:hover {
    background-color: #3f4b64;
    cursor: pointer;
}

#copyright {
    position: relative;
    left: 70px;
    top: 12px;
}

.footer_links {
    position: relative;
    margin: 15px;
    right: 60px;
    top: 12px;
    font-size: 14px;
    color: #949fb3;
}

.footer_links:hover {
    color: white;
}

#grid_parent {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    grid-row: 1 / 3;
    grid-column: 1 / 21;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom: solid;
    border-bottom-width: 2px;
}

#footer {
    background-color: #1a202c;
    grid-row: 19 / 21;
    grid-column: 1 / 21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#step_bar {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    background-color: #edf0f7;
    border: solid black;
    border-width: 2px;
    grid-row: 3 / 19;
    grid-column: 1 / 4;
    border-bottom: hidden;
    border-top: hidden;
}

#step_header {
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: solid black;
    border-width: 2px;
    grid-column: 4 / 21;
    grid-row: 3 / 5;
}

#step_title {
    position: relative;
    left: 100px;
    color: black;
    font-size: 30px;
}

#button_back {
    background-color: white;
    border-radius: 8px;
    color: #2d3648;
    border-color: #2d3648;
    border-style: solid;
    height: 40px;
    width: 90px;
}

#button_back:hover {
    background-color: rgb(230, 232, 236);
    cursor: pointer;
}

#button_next {
    position: relative;
    left: 10px;
    background-color: #2d3648;
    border-radius: 8px;
    border-color: #2d3648;
    border-style: solid;
    color: white;
    height: 40px;
    width: 90px;
}

#button_next:hover {
    background-color: #3f4b64;
    cursor: pointer;
}

#step_buttons {
    position: relative;
    right: 200px;
}

#step_content {
    display: flex;
    flex-direction: row;
    grid-row: 5 / 19;
    grid-column: 4 / 21;
    padding: 30px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
}
#meal_plan_div {
    margin-left: 20px;
}
#meal_plan {
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
}

#step_bar {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(30, 1fr);
    background-color: #edf0f7;
    border: solid black;
    border-width: 2px;
    grid-row: 3 / 19;
    grid-column: 1 / 4;
    border-bottom: hidden;
    border-top: hidden;
}

#step_links {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 24;
    grid-column: 1 / 21;
}

#step_links div {
    position: relative;
    height: 50px;
}

#step_links div:hover .step_icons {
    filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(2deg) brightness(92%) contrast(108%);
}

#step_links div:hover {
    background-color: rgba(158, 158, 158, 0.384);
    transition: 0.4s;
}

#step_links div:hover a {
    color: black;
}

.link_spans {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#order_box {
    border-top: solid black;
    border-width: 2px;
    grid-row: 24 / 31;
    grid-column: 1 / 21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_form {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 7;
    grid-row: 2 / 15;
    padding: 30px;
    border: solid black;
    border-width: 2px;
    row-gap: 20px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
}

.profile_form div {
    display: flex;
    flex-direction: column;
}

.profile_form label {
    margin-bottom: 3px;
}

.profile_form input {
    height: 30px;
}

.profile_form select {
    height: 30px;
}

#select_plan {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    border: solid black;
    border-width: 2px;
    grid-row: 3 / 12;
    grid-column: 5 / 10;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

#select_plan > form {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

#select_plan > span {
    font-size: 30px;
}

#select_plan > form > div label {
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

#number_of_people > div > input {
    display: none;
}

#number_of_meals > input {
    display: none;
}

#one_person:checked ~ label[for='one_person'],
#two_people:checked ~ label[for='two_people'],
#three_people:checked ~ label[for='three_people'],
#four_people:checked ~ label[for='four_people'] {
    background: #999;
    color: #fff;
}

#one_meal:checked ~ label[for='one_meal'],
#two_meals:checked ~ label[for='two_meals'],
#three_meals:checked ~ label[for='three_meals'],
#four_meals:checked ~ label[for='four_meals'],
#five_meals:checked ~ label[for='five_meals'] {
    background: #999;
    color: #fff;
}

#select_plan_submit {
    width: 200px;
    height: 30px;
    align-self: center;
}

#users {
    display: flex;
    flex-direction: column;
    width: 100px;
    grid-row: 2 / 7;
    grid-column: 2 / 3;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#meal_plan_content {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 7;
    grid-column: 3 / 21;
    row-gap: 20px;
}

#users div {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 45px;
    border: solid black;
    border-width: 2px;
    border-right: hidden;
    align-content: center;
    text-align: center;
    font-size: 25px;
}

#users div:not(:first-child) {
    border-top: hidden;
}

.container {
    display: flex;
    width: 100%;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.button_container {
    display: flex;
    width: 100%;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 100%;
    background-color: #edf0f7;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    border-radius: 8px;
}

.itemlist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card {
    /* Display & Alignment */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /* Dimensions */
    width: 15rem;
    height: 20rem;
    /* Padding */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* Styling */
    background-color: #edf0f7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
    border: 1px solid var(--primary-400);
    /* Scroll */
    scroll-snap-align: center;
    /* Make clickable */
    cursor: pointer;
}
.card:hover {
    border: 1px solid var(--primary-600);
}
.card--active {
    /* Styling */
    background-color: var(--primary-300);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
    border: 1px solid var(--primary-600);
}
.card-img-top {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
}
.card-body {
    width: 100%;
    height: 50%;
    display: block;
    flex-direction: column;
}
.card-title {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
    white-space: nowrap;
    margin: 0;
    margin-top: 1rem;
    color: var(--primary-800);
    text-align: justify;
    letter-spacing: 0.05rem;
    word-break: break-word;
    user-select: none;
}
.card-description-container {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
    height: 3.7rem;
}
.card-description {
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--primary-700);
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    text-align: justify;
    letter-spacing: 0.05rem;
    hyphens: auto;
    user-select: none;
}
.tag-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.5rem;
    overflow: hidden;
}
.badge {
    font-family: var(--secondary-font);
    font-size: 0.6rem;
    font-weight: 600;
    color: var(--primary-800);
    background-color: var(--primary-300);
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    user-select: none;
}
.preparation-time-rating-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    width: 100%;
}
.preparation-time-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 0.5rem;
    width: 100%;
}
.preparation-time-icon {
    background-image: url('../assets/icons/icon_clock.svg');
    background-size: cover;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
.preparation-time {
    font-family: var(--secondary-font);
    font-size: 0.6rem;
    font-weight: 600;
    color: var(--primary-800);
    /* Make text unselectable */
    user-select: none;
}
.rating-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 0.5rem;
    width: 100%;
}
.rating-icon {
    background-image: url('../assets/icons/icon_star.svg');
    background-size: cover;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
.popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
}

.popover__wrapper {
    position: relative;

}
.popover__content {
    height: 19.1rem;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(0, 0);
    background-color: var(--primary-200);
    padding: 1.5rem;
    box-shadow: var(--box-shadow-popover);
    width: auto;
    border-radius: 12px;
    color: var(--primary-700);
    user-select: none;
}
.popover__content:before {
    position: absolute;
    content: '';
    /*right: calc(50% - 10px);*/
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--primary-200) transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}
.popover__wrapper:hover .popover__content {
    opacity: 0.95;
    backdrop-filter: blur(200px);
    visibility: visible;
    transform: translate(0, 0);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
    text-align: center;
}

.invisible {
    background: none;
    opacity: 0%;
}

.left_arrow {
    background-image: url("../assets/icons/icon_arrow_left.svg");
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    cursor: pointer;
    position: absolute;
    left: 0rem;
}
.right_arrow {
    background-image: url("../assets/icons/icon_arrow_right.svg");
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 0rem;
}

.arrow {
    width: 15rem;
    height: 418px;
    z-index: 999;
    border-width: 0px;
    justify-content: center;
    align-items: center;
}

.arrow:focus {

}

.arrow:hover {

}

.arrow::selection {

}

.accept {
    margin: 10px;
    width: 90px;
    height: 40px;
    background: none;
    color: black;
}

.accept:hover {
    background: darkgray;
}

.accept:focus {
    outline: none;
    background: none;
    box-shadow: none;
}

.accept::selection {
    outline: none;
}
