:root {
    --white: #ffffff;
    --black: #000000;
    --primary-font: 'poppins', sans-serif;
    --secondary-font: 'inter', sans-serif;
    --background-color: #e2e7f0;
    --primary-900: #1a202c;
    --primary-800: #2d3648;
    --primary-700: #4a5468;
    --primary-600: #717d96;
    --primary-500: #a0abc0;
    --primary-400: #cbd2e0;
    --primary-300: #e2e7f0;
    --primary-200: #edf0f7;
    --primary-100: #f7f9fc;
    --yellow-600: #ffd43a;
    --yellow-300: #ffedad;
    --orange-600: #fe9d35;
    --orange-300: #fed7ad;
    --green-600: #2edb4b;
    --green-300: #d1ffd9;
    --blue-600: #34aff7;
    --blue-300: #b0dcff;
    --purple-600: #f134f7;
    --purple-300: #f6d1ff;
    --red-600: #ff5252;
    --red-300: #ffb8b8;
    --box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, #cbd2e0 -6px -2px 16px 0px;
    --box-shadow-popover: box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#logo {
	height: 3rem;
}


#footer-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-900);
    border-bottom: solid;
	border-bottom-width: 2px;
}

/* Primary Footer */
footer {
	display: flex;
    flex-direction: row;
	width: 95%;
    max-width: 1200px;
	height: 200px;
    padding-top: 2rem;
    padding-bottom: 2rem;
	color: var(--primary-100);
    justify-content: space-between;
}
/* Footer container left */
#footer-container-left {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	justify-content: space-around;
	align-items: end;
}
#footer-container-left-content {
	font-size: 14px;
}
#footer-container-left-content:hover {
	color: white;
}
/* Footer container right */
#footer-container-right {
	display: flex;
	justify-content: space-between;
	align-items: end;
    flex-grow: 1;
    max-width: 45%;

}
.footer-container-right-links {
	font-size: 14px;
}
.footer-container-right-links:hover {
	color: white;
}

#copyright {
    position: relative;
    left: 70px;
    top: 12px;
}
.footer_links {
    position: relative;
    margin: 15px;
    right: 60px;
    top: 12px;
    font-size: 14px;
    color: #949fb3;
}
.footer_links:hover {
    color: white;
}